.pagewrapper {
    justify-content: start;
}

#roomcode {
    text-align: center;
    background-color: var(--cwhite);
    border: 2px dashed var(--cprimary);
    border-radius: 1rem;
}

.gamelogo {
    display: block;
    width: 80vw;
    max-width: 15rem;
    border: 2px dashed var(--cprimary);
    border-radius: 1rem;
    margin-top: 1.5rem;
}

#waiting-area {
    display: flex;
    justify-content: space-between;
}

.waitingforplayers {
    width: 100%;
    text-align: center;
}

.loader {
    display: inline-block;
    border: 1rem solid var(--cbacky); /* Light grey */
    border-top: 1rem solid var(--cprimary); /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}